.TodoItem {
  width: 100%;
  background-color: #9747ff62;
  box-shadow: 0px 10px 50px rgba(32, 35, 41, 0.15);
  border-radius: 8px;
  margin: 2% 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
  font-size: 1.8vh;
  color: white;
}
  
.TodoItem:hover{
  transform: scaleY(1.05);
  transform: scaleX(1.05);
}

.icon{
  margin: 0 16%;
  transform: scale(1.5);
}

.icon-check:hover{
  color: rgb(9, 230, 193);
}

.icon-delete:hover{
  color: rgb(230, 72, 9);
}

.TodoItem-p--complete{
  text-decoration: line-through;
  color: rgb(172, 172, 172);
}