input{
    background: #b47ffa2c;
    border-radius: 10px;
    border: 1px solid #ffffff;
    margin: 0;
    height: 4vh;
    width: 80%;
    font-size: 1.2vh;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #ffffff;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
}
  
  input::placeholder {
    color: #3b0169;
    font-family: 'Montserrat';
    font-weight: 400;
    color: white;
  }
  
  input:focus {
    background-color: #b47ffa6c;
    outline: 1px solid #ffffff;
  }